.about{
    border: none;
    padding-top: 30px;
    margin-top: 30px;
}
.about-img{
    padding-left: 30px;
    position: relative;
}
 .about-img:after {
    content: '';
    width: 80%;
    height: 80%;
    position: absolute;
    left: 0px;
    bottom: -30px;
    background-image: url("../Images/10015.png");
    background-repeat: repeat;
    z-index: -1;
}
.subtitle{
    letter-spacing: 5px;
}
.description{
    line-height: 27px;
    word-spacing: 2px;
}
.primary-button{
    text-decoration: none;
    border:1px solid rgb(24, 4, 4);
    padding: 15px 30px;
    background-color: rgb(24, 4, 4);
    color: white;
    transition-duration: .5s;
    transition-timing-function: linear;
    font-weight: bold;
    border-top-left-radius: 20px;
}
.primary-button:hover{
   background-color: transparent;
   color: black;
}
.secondary-button{
    text-decoration: none;
    border:1px solid rgb(24, 4, 4);
    padding: 15px 30px;
    background-color: transparent;
    color: black;
    transition-duration: .5s;
    transition-timing-function: linear;
    font-weight: bold;
    border-top-left-radius: 20px;
}
.secondary-button:hover{
    background-color:rgb(24, 4, 4) ;
    color: white;  
 }
 .about-btns{
    display: flex;
    align-items: center;
    gap: 10px;
    margin-top: 30px;
 }
@media screen and (max-width:576px) {
    .about-img img{
        width: 350px;
    } 
    .about-img{
        left: 0px;
    }
    #about-description{
        margin-left: 0rem !important;
        padding-left: 0rem !important;
        margin: 0;
        margin-top: 20px;
        text-align: center;
    }
    .about-btns{
        display: flex;
        flex-direction: column;
        gap: 15px;
        justify-content: flex-start;
    }
}
@media screen and ( min-width:577px) and (max-width:992px) {
    .hide{
        display: none;
    }
    .about-btns{
        display: flex;
        flex-direction: column;
        gap: 10px;
    }
    #about-description{
        margin-left: 0rem !important;
        padding-left: 0rem !important;
        margin: 0;

    }
    .about-detail{
        align-items: start !important;
        gap: 10px;
    }
    .subtitle{
        white-space: nowrap;
    }
}