
.service{
    margin-top: 100px;
}
.service-item{
    text-align: center;
    box-shadow: 1px 1px 5px 1px gainsboro;
    border-radius: 5px;
    margin-bottom: 40px;
    padding: 40px 0px;
    background-color: white;
}
.service-item i{
    width: 70px;
    height: 70px;
    padding: 20px;
    background-color: gainsboro;
    border-radius: 35px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto auto;
    transition-duration: .5s;
    -webkit-transition-duration: all .5s;
}
.service-item:hover i{
    background-color: black;
    color: white;
}
.service-title{
    text-shadow: 1px white;
    margin-bottom: 40px;
}

@media screen and (max-width:576px) {
    .service-items{
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin-bottom: 40px;
    }
}
@media screen and (min-width:577px) and (max-width:992px) {
    .service-items{
       display: grid;
       grid-template-columns: repeat(2, 1fr);
    }
}